<!doctype html>
<html>
    <head>
        {% if title %}
        <title>{{ title }} - Video Streams</title>
        {% else %}
        <title>Welcome to Video Streams</title>
        {% endif %}
    </head>
    <body>
        <div>
            Microblog:
            <a href="{{ url_for('index', number=1) }}">Stream 1</a>
            <a href="{{ url_for('index', number=2) }}">Stream 2</a>
            <a href="{{ url_for('index', number=3) }}">Stream 3</a>
            <a href="{{ url_for('index', number=4) }}">Stream 4</a>
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('login') }}">Login</a>
            {% else %}
            <a href="{{ url_for('logout') }}">Logout</a>
            {% endif %}
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>
